<!DOCTYPE html>
<html>
  <head>
    <title>RMrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <ul>
      <a href="survey.html">ChronenSurvey</a>
      <a href="registration.html">SignUp Or Login</a>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
