<!DOCTYPE html>
<html>
  <head>
    <title>RMrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <ul>
      <a href="registration.html">SignUp Or Login</a>
      <a><%= link_to 'Edpisodes', episodes_path%>
      <a><%= link_to 'Character List', characters_path %></a>
      <a><%= link_to 'Home', root_path%>
      <a><%= link_to 'Locations', locations_path %></a>
      <a><%= link_to 'Quiz', quiz_path %>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
